{% extends "./base.html" %} {% block content %}
<h1>MYPICTURE</h1>
<p>{{ message }}</p>

  {% if searchForm %}
    <form action='{% url "pypicture:index" %}' method='get'>
      <div class='form-group'>
        {{ searchForm }}
        <input type="submit" class="btn btn-outline-primary" value="OK" />
        <a href="{% url 'pypicture:index' %}" class="btn btn-outline-secondary">クリア</a>
      </div>
    </form>
  {% endif %}

<table class="table table-striped table-hover">
  {% for picture in pictures %}
  <tr>
    <td>{{ picture.user_name }}</td>
    <td>{{ picture.content }}</td>
    <td>
      <a
        href="{% url "pypicture:detail" picture.id %}"
        class="btn btn-outline-primary"
        >詳細</a
      >
    </td>
  </tr>
  {% endfor %}
</table>

<div>
  <a href='{% url "pypicture:new" %}' class="btn btn-outline-primary"
    >新規</a
  >
</div>
{% endblock %}
